.place__top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 40px;
    max-width: 1184px;
    width: 100%;

}

@media screen and (max-width: 320px) {
    .place__top {
        max-width: 288px;
        flex-direction: column;
        row-gap: 32px;
        align-items: flex-start;
        margin: 0 auto;
    }
}