.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    margin-right: 0;
    margin-left: auto;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin: 48px 0 24px 0;
    }
}